@charset "utf-8";
/* CSS Document */
body{
			font-family: "Arial","Microsoft YaHei"; 
			font-weight:200;
			font-size:1.2vw;
			background-color:#18242e !important;
			color: #acadb4;
	}	
	nav{
			background-color: #10181f !important;
			border-width: 0px !important;
			font-size: 1vw;
		}
	ul{ list-style-type: none;}
	
	#sidebar ul{ 
	    font-size: 1.5rem;
	    margin-left: 0;
		margin-right: 0vw;
	    height: 30vw;
		text-align: center;
		
	}
	#sidebar ul li{	
		line-height: 3.5rem;
		margin-top: 0.7vw;
		width: 15vw;
		
	}
	#sidebar img{
		height: 1.2rem;
		width: 1.3rem;
		margin-right: 1vw;
		margin-top: -3px;
	}
	.navbar-active{ background-color: #06090c;}

	.sidebar-active{  
	    background-color: #10181f;
		color: white;
		border-radius: 1rem;
	}
	#footerHr{
		width: 80%;
		border-top:1px solid #10181f;
		margin-top: 5vw;
		margin-bottom: 1vw;
	}
	#footer{
		font-size: 1rem !important;
		line-height:1.2vw;
	}
	#footer a{
		color: #acadb4;
		font-size: 1vw;
	}
    #footer a:hover{  
	    color: #10181f !important;
		text-decoration: none;
		}

